<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>elephantblink01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 822}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{972, 822}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2916, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1296, 274}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1944, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2916, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{322, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1296, 822}, {322, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{322, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1296, 548}, {322, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{322, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2268, 274}, {322, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3564, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1620, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1944, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 822}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2268, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{972, 274}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2592, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2592, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3564, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 274}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 822}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2268, 822}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{972, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3240, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1620, 822}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3240, 274}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1620, 274}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1944, 274}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 274}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2916, 274}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2268, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantblink36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1620, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{322, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1944, 822}, {322, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{322, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 274}, {322, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{324, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2918, 822}, {324, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{324, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3586, 1096}, {324, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{324, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3570, 822}, {324, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{326, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1312, 1370}, {326, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{326, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1312, 1644}, {326, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{326, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1640, 1644}, {326, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {328, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{328, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{990, 1918}, {328, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {328, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{328, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3284, 1644}, {328, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{326, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2952, 1370}, {326, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{326, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1968, 1644}, {326, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{324, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2934, 1096}, {324, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1296, 0}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 266}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{324, 266}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3260, 1096}, {324, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 266}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{326, 266}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{984, 1644}, {326, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 264}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{326, 264}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 1644}, {326, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {328, 264}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{328, 264}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2624, 1644}, {328, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {328, 264}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{328, 264}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 1918}, {328, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 266}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{326, 266}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2624, 1370}, {326, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 266}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{326, 266}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 1370}, {326, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{326, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1640, 1370}, {326, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{324, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 1096}, {324, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{324, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1096}, {324, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{324, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2608, 1096}, {324, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{322, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{972, 548}, {322, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{324, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1304, 1096}, {324, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{324, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1956, 1096}, {324, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{324, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 1096}, {324, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{326, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1968, 1370}, {326, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{326, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 1370}, {326, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{326, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1644}, {326, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {328, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{328, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3614, 1644}, {328, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {328, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{328, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2954, 1644}, {328, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{326, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1370}, {326, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{326, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{984, 1370}, {326, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{324, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 1096}, {324, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{322, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 548}, {322, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 266}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{324, 266}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2592, 822}, {324, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 266}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{326, 266}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2296, 1370}, {326, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 264}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{326, 264}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3608, 1370}, {326, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {328, 264}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{328, 264}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 1918}, {328, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {328, 264}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{328, 264}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1918}, {328, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 266}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{326, 266}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2296, 1644}, {326, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 266}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{326, 266}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 1644}, {326, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 24}, {326, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{326, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3280, 1370}, {326, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 268}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{324, 268}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1630, 1096}, {324, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{324, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3244, 822}, {324, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {324, 270}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{324, 270}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2282, 1096}, {324, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{322, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3564, 274}, {322, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{322, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2592, 274}, {322, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantflail52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 24}, {322, 272}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{322, 272}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3240, 0}, {322, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>elephant</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>elephant</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>