<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>hippoblink01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1692, 228}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 228}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1128, 684}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 60}, {282, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{282, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3110, 684}, {282, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 60}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3144, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 60}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2572, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 60}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 60}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1152, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{103, 60}, {288, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{288, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3748, 1140}, {288, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{103, 60}, {288, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{288, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3168, 1140}, {288, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{103, 60}, {288, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{288, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3458, 1140}, {288, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 60}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2016, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 60}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2592, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 60}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2000, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 60}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -13}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1714, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 60}, {282, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{282, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2258, 684}, {282, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1974, 228}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3642, 0}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 684}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{846, 684}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 456}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{846, 456}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1128, 456}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3666, 228}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3360, 0}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1410, 228}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2820, 228}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1410, 456}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1128, 228}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 228}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1692, 456}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoblink32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 60}, {280, 224}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 224}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 456}, {280, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3102, 456}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1974, 456}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 456}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3384, 456}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 59}, {282, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{282, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2826, 684}, {282, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 59}, {282, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{282, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1974, 684}, {282, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 59}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{856, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 59}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1428, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 59}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1728, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 59}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2880, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 59}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3716, 912}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 59}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1440, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 59}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 59}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3430, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 59}, {282, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{282, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3394, 684}, {282, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3384, 228}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 684}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{560, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 60}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{8, -13}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1400, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1960, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2240, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2520, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1120, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{846, 228}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3666, 456}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2256, 456}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1410, 684}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2820, 456}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 59}, {282, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{282, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2542, 684}, {282, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 59}, {282, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{282, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3678, 684}, {282, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 59}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2858, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 59}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1142, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 59}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 59}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 59}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 59}, {286, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{286, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2304, 1140}, {286, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 59}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2286, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 59}, {284, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{284, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 912}, {284, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 59}, {282, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{282, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 912}, {282, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2256, 228}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 228}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2800, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 60}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{8, -13}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1680, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3080, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {278, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{278, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 0}, {278, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 684}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3102, 228}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2538, 228}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2538, 456}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hippoflail52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 59}, {280, 226}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{280, 226}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1692, 684}, {280, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>Untitled 3</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>hippo</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>hippo</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>