<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>lionblinking01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1128, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1932, 0}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 28}, {274, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{274, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {274, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 260}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 29}, {278, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{278, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1394, 260}, {278, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 29}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1974, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 30}, {282, 254}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{282, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3388, 778}, {282, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 30}, {282, 254}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{282, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1420, 1036}, {282, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 31}, {284, 252}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{284, 252}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{858, 1294}, {284, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 30}, {282, 254}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{282, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1704, 1036}, {282, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 30}, {282, 254}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{282, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 1036}, {282, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 29}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2516, 260}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 29}, {278, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{278, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1114, 260}, {278, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 260}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 28}, {274, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{274, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1656, 0}, {274, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3600, 0}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3362, 260}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2234, 260}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2256, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3102, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1692, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2798, 260}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3666, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3384, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1128, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1974, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionblinking32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2538, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{846, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3644, 260}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 28}, {278, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{278, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{834, 260}, {278, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 28}, {278, 258}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{278, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1674, 260}, {278, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3322, 0}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{98, 28}, {274, 258}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{274, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 0}, {274, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 28}, {274, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{274, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1104, 0}, {274, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 28}, {274, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{274, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 0}, {274, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2488, 0}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2766, 0}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 28}, {274, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{274, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1380, 0}, {274, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{98, 28}, {274, 258}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{274, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 0}, {274, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 28}, {278, 258}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{278, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 260}, {278, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3080, 260}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1692, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 28}, {282, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{282, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{852, 1036}, {282, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 29}, {284, 254}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{284, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2272, 1036}, {284, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 29}, {284, 254}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{284, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 1294}, {284, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 29}, {284, 254}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{284, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3416, 1036}, {284, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 29}, {284, 254}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{284, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1294}, {284, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 28}, {282, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{282, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2820, 778}, {282, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 28}, {282, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{282, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1036}, {282, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 28}, {282, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{282, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{568, 1036}, {282, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1410, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2538, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 260}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2210, 0}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 29}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2820, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 30}, {282, 254}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{282, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3672, 778}, {282, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 31}, {282, 252}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{282, 252}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3104, 778}, {282, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 32}, {284, 250}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{284, 250}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 1294}, {284, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 32}, {284, 252}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{284, 252}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3702, 1036}, {284, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 30}, {284, 254}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{284, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3130, 1036}, {284, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 32}, {284, 250}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{284, 250}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2844, 1036}, {284, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 30}, {282, 254}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{282, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1988, 1036}, {282, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 28}, {276, 258}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{276, 258}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3044, 0}, {276, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1410, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 29}, {284, 254}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{284, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2558, 1036}, {284, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 31}, {288, 250}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{288, 250}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2294, 1294}, {288, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 30}, {288, 254}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{288, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3164, 1294}, {288, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 28}, {286, 260}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{286, 260}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2006, 1294}, {286, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 29}, {286, 256}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{286, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1430, 1294}, {286, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 30}, {288, 254}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{288, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2874, 1294}, {288, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 31}, {288, 250}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{288, 250}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2584, 1294}, {288, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 31}, {288, 250}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{288, 250}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3454, 1294}, {288, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 30}, {286, 252}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{286, 252}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1718, 1294}, {286, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 29}, {284, 254}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{284, 254}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1144, 1294}, {284, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 28}, {282, 256}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{282, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1136, 1036}, {282, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{846, 520}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lionflail51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 28}, {280, 256}}</string>
			<key>spriteOffset</key>
			<string>{-5, 4}</string>
			<key>spriteSize</key>
			<string>{280, 256}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2256, 778}, {280, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>Untitled 2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>lion</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>lion</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>