<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>penguinblink01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2288, 0}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2880, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2030, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2600, 424}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3776, 636}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 848}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1764, 1060}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3512, 848}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 1060}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3218, 848}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1460, 848}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2900, 636}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2044, 848}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1730, 424}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1440, 424}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 424}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3456, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1152, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2592, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2576, 0}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 424}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2864, 0}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3728, 0}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3440, 0}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 424}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2610, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinblink31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1740, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3470, 424}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2320, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1450, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1752, 848}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3484, 636}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2058, 1060}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2352, 1060}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 1060}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 52}, {294, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{294, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2942, 1060}, {294, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 52}, {294, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{294, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2646, 1060}, {294, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1176, 1060}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1060}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3192, 636}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2310, 424}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3168, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {284, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{284, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1716, 0}, {284, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {284, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{284, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 0}, {284, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {284, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{284, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{858, 0}, {284, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {284, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{284, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2002, 0}, {284, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3152, 0}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1440, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2016, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3744, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3760, 424}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2890, 424}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3180, 424}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{584, 848}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1168, 848}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 848}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2336, 848}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1470, 1060}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 1060}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 52}, {294, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{294, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3534, 1060}, {294, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 52}, {294, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{294, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3238, 1060}, {294, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2924, 848}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {292, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{292, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2630, 848}, {292, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 52}, {290, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{290, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 848}, {290, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1160, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2304, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {284, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{284, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1144, 0}, {284, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {284, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{284, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {284, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {284, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{284, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1430, 0}, {284, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {284, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{284, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 0}, {284, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 424}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1152, 424}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1728, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 52}, {286, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{286, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 212}, {286, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2020, 424}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinflail51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 52}, {288, 210}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{288, 210}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 636}, {288, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>penguin</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>penguin</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>